.flex-box {
    display: flex;
    justify-content: stretch;
    align-items: center;

    .flex-box {
        &__jc-center {
            justify-content: center;
        }
        &__jc-end {
            justify-content: flex-end;
        }

        &__dr-col {
            flex-direction: column;
        }
    }

    .flex-item {
        height: 100%;
        box-sizing: border-box;
        width: 100%;
        // background: #fff;
        // margin: 50px;
        // border: red 1px solid;
        display: block;

        &__half {
            height: 50%;
            overflow-x: auto;
        }
    }
}
